/* Font Family Outfit 
Weight 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Variable Colors */
:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
    --FontOutfit: 'Outfit', sans-serif;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--FontOutfit);
}

body {
    background-color: var(--LightGray);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

/* Card Styles */
.card {
    height: 27rem;
    width: 17rem;
    background-color: var(--White);
    padding: 15px 15px;
    margin: auto;
    border-radius: 10px;
    display: block;
    box-shadow: 1px 2px 6px var(--GrayishBlue),
    2px 2px 7.2px var(--DarkBlue);
    transition: .7s ease;
    cursor: pointer;
}

.card:hover,
.card:hover > .card__qr-image {
    transform: scale(1.05);    
}

.card .card__qr-image {
    height: initial;
    width: 100%;
    border-radius: 10px;
    isolation: isolate;
    filter: grayscale(1);
    transition: 600ms ease;

    animation: refresh;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes refresh {
    from {
        filter: grayscale(1);
    }

    to {
        filter: grayscale(0);
    }
}

.card-details {
    padding: 0 12px;
}

.card-details > .card__title {
    font-size: 1.2rem;
    text-align: center;
    margin: 17px 0;
    color: var(--DarkBlue);
}

.card-details > .card__description {
    text-align: center;
    font-size: 15px;
    color: var(--GrayishBlue);
}